In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark import SparkContext, SparkConf
sc=SparkContext.getOrCreate()

spark = SparkSession \
    .builder \
    .appName("Introduction to Spark DaataFrame") \
    .config("spark.some.config.option", "some value") \
    .getOrCreate()

In [2]:
purchaseSchema =StructType([
    StructField("Date",DateType(),True),
    StructField("Time",StringType(),True),
    StructField("City",StringType(),True),
    StructField("Item",StringType(),True),
    StructField("Total",FloatType(),True),
    StructField("Payment", StringType(),True)
])

In [3]:
purchaseDataFrame =spark.read.csv("C:\sparkProjectFolder\purchase.csv",header=False,schema=purchaseSchema, sep="\t")

In [4]:
purchaseDataFrame.show()

+----+----+----+----+-----+-------+
|Date|Time|City|Item|Total|Payment|
+----+----+----+----+-----+-------+
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
|null|null|null|null| null|   null|
+----+----+----+----+-----+-------+
only showing top 20 rows

In [5]:
sc.textFile("C:\sparkProjectFolder\purchase.csv") \
    .map(lambda line:line.split(",")) \
    .filter(lambda line: len(line)>1) \
    .map(lambda line: (line[0],line[1])) \
    .collect()

[('Date', 'Time'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),
 ('1/1/2012', '16:00'),
 ('1/1/2012', '17:00'),
 ('1/1/2012', '18:00'),
 ('1/1/2012', '19:00'),
 ('1/1/2012', '20:00'),
 ('1/1/2012', '21:00'),
 ('1/1/2012', '22:00'),
 ('1/1/2012', '23:00'),
 ('1/1/2012', '0:00'),
 ('1/1/2012', '1:00'),
 ('1/1/2012', '2:00'),
 ('1/1/2012', '3:00'),
 ('1/1/2012', '4:00'),
 ('1/1/2012', '5:00'),
 ('1/1/2012', '6:00'),
 ('1/1/2012', '7:00'),
 ('1/1/2012', '8:00'),
 ('1/1/2012', '9:00'),
 ('1/1/2012', '10:00'),
 ('1/1/2012', '11:00'),
 ('1/1/2012', '12:00'),
 ('1/1/2012', '13:00'),
 ('1/1/2012', '14:00'),
 ('1/1/2012', '15:00'),

In [6]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
purchaseSchema =StructType([
    StructField("Date",DateType(),True),
    StructField("Time",StringType(),True),
    StructField("City",StringType(),True),
    StructField("Item",StringType(),True),
    StructField("Total",FloatType(),True),
    StructField("Payment", StringType(),True)
])

df = sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=purchaseSchema).load('purchase.csv')

In [7]:
df.show(2)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012| 9:00|  Indore|  Milk|   20|   Visa|
|1/1/2012|10:00|Banglore|Fruits|  100|   Amex|
+--------+-----+--------+------+-----+-------+
only showing top 2 rows

In [8]:
num_rows=df.count()
print("number of rows: ", num_rows)
df.printSchema()
df.describe('Total').show()

number of rows:  5164
root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Payment: string (nullable = true)

+-------+------------------+
|summary|             Total|
+-------+------------------+
|  count|              5164|
|   mean|          206540.0|
| stddev|119269.01805023242|
|    min|               100|
|    max|             99940|
+-------+------------------+

In [9]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
purchaseSchema =StructType([
    StructField("Date",DateType(),True),
    StructField("Time",StringType(),True),
    StructField("City",StringType(),True),
    StructField("Item",StringType(),True),
    StructField("Total",FloatType(),True),
    StructField("Payment", StringType(),True)
])

df = sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=purchaseSchema).load('purchase.csv')

In [10]:
df.show(2)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012| 9:00|  Indore|  Milk|   20|   Visa|
|1/1/2012|10:00|Banglore|Fruits|  100|   Amex|
+--------+-----+--------+------+-----+-------+
only showing top 2 rows

In [11]:
df.show(10)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012| 9:00|  Indore|  Milk|   20|   Visa|
|1/1/2012|10:00|Banglore|Fruits|  100|   Amex|
|1/1/2012|11:00|  Indore|  Milk|  180|   Visa|
|1/1/2012|12:00|Banglore|Fruits|  260|   Amex|
|1/1/2012|13:00|  Indore|  Milk|  340|   Visa|
|1/1/2012|14:00|Banglore|Fruits|  420|   Amex|
|1/1/2012|15:00|  Indore|  Milk|  500|   Visa|
|1/1/2012|16:00|Banglore|Fruits|  580|   Amex|
|1/1/2012|17:00|  Indore|  Milk|  660|   Visa|
|1/1/2012|18:00|Banglore|Fruits|  740|   Amex|
+--------+-----+--------+------+-----+-------+
only showing top 10 rows

In [12]:
num_rows=df.count()
print("number of rows: ", num_rows)
df.printSchema()
df.describe('Total').show()

number of rows:  5164
root
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Item: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Payment: string (nullable = true)

+-------+------------------+
|summary|             Total|
+-------+------------------+
|  count|              5164|
|   mean|          206540.0|
| stddev|119269.01805023242|
|    min|               100|
|    max|             99940|
+-------+------------------+

In [13]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
purchaseSchema =StructType([
    StructField("tweet_id",StringType(),True),
    StructField("author_id",StringType(),True),
    StructField("inbound",StringType(),True),
    StructField("created_at",DateType(),True),
    StructField("text",StringType(),True),
    StructField("response_tweet_id", StringType(),True),
    StructField("in_response_tweet_id", StringType(),True)
])

df = sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=purchaseSchema).load('twcs.csv')

In [14]:
df.show(2)

+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
|tweet_id| author_id|inbound|          created_at|                text|response_tweet_id|in_response_to_tweet_id|
+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
|       1|sprintcare|  False|Tue Oct 31 22:10:...|@115712 I underst...|                2|                      3|
|       2|    115712|   True|Tue Oct 31 22:11:...|@sprintcare and h...|             null|                      1|
+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
only showing top 2 rows

In [15]:
df.show(10)

+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
|tweet_id| author_id|inbound|          created_at|                text|response_tweet_id|in_response_to_tweet_id|
+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
|       1|sprintcare|  False|Tue Oct 31 22:10:...|@115712 I underst...|                2|                      3|
|       2|    115712|   True|Tue Oct 31 22:11:...|@sprintcare and h...|             null|                      1|
|       3|    115712|   True|Tue Oct 31 22:08:...|@sprintcare I hav...|                1|                      4|
|       4|sprintcare|  False|Tue Oct 31 21:54:...|@115712 Please se...|                3|                      5|
|       5|    115712|   True|Tue Oct 31 21:49:...|  @sprintcare I did.|                4|                      6|
|       6|sprintcare|  False|Tue Oct 31 21:46:...|@115712 Can you p...|              5,7|                      8|
|       8|    115712|   True|Tue Oct 31 21:45:...|@sprintcare is th...|           9,6,10|                   null|
|      11|sprintcare|  False|Tue Oct 31 22:10:...|@115713 This is s...|             null|                     12|
|      12|    115713|   True|Tue Oct 31 22:04:...|@sprintcare You g...|         11,13,14|                     15|
|      15|sprintcare|  False|Tue Oct 31 20:03:...|@115713 We unders...|               12|                     16|
+--------+----------+-------+--------------------+--------------------+-----------------+-----------------------+
only showing top 10 rows

In [16]:
num_rows=df.count()
print("number of rows: ", num_rows)
df.printSchema()
df.describe('inbound').show()

number of rows:  2966469
root
 |-- tweet_id: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- inbound: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- text: string (nullable = true)
 |-- response_tweet_id: string (nullable = true)
 |-- in_response_to_tweet_id: string (nullable = true)

+-------+--------------------+
|summary|             inbound|
+-------+--------------------+
|  count|             2879535|
|   mean|  1465289.6061322398|
| stddev|   922298.6833181768|
|    min|                    |
|    max|장갑을 벗고 맨손으로 누르면 바...|
+-------+--------------------+

In [17]:
num_rows=df.count()
print("number of rows: ", num_rows)
df.printSchema()
df.describe('tweet_id').show()

number of rows:  2966469
root
 |-- tweet_id: string (nullable = true)
 |-- author_id: string (nullable = true)
 |-- inbound: string (nullable = true)
 |-- created_at: string (nullable = true)
 |-- text: string (nullable = true)
 |-- response_tweet_id: string (nullable = true)
 |-- in_response_to_tweet_id: string (nullable = true)

+-------+--------------------+
|summary|            tweet_id|
+-------+--------------------+
|  count|             2966449|
|   mean|1.6419553665565941E7|
| stddev|  9.55187119471662E9|
|    min|                 ...|
|    max|                  🧠|
+-------+--------------------+

In [18]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
purchaseSchema =StructType([
    StructField("Date",DateType(),True),
    StructField("Time",StringType(),True),
    StructField("City",StringType(),True),
    StructField("Item",StringType(),True),
    StructField("Total",FloatType(),True),
    StructField("Payment", StringType(),True)
])

df = sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=purchaseSchema).load('purchase.csv')

In [19]:
df.show(10)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012| 9:00|  Indore|  Milk|   20|   Visa|
|1/1/2012|10:00|Banglore|Fruits|  100|   Amex|
|1/1/2012|11:00|  Indore|  Milk|  180|   Visa|
|1/1/2012|12:00|Banglore|Fruits|  260|   Amex|
|1/1/2012|13:00|  Indore|  Milk|  340|   Visa|
|1/1/2012|14:00|Banglore|Fruits|  420|   Amex|
|1/1/2012|15:00|  Indore|  Milk|  500|   Visa|
|1/1/2012|16:00|Banglore|Fruits|  580|   Amex|
|1/1/2012|17:00|  Indore|  Milk|  660|   Visa|
|1/1/2012|18:00|Banglore|Fruits|  740|   Amex|
+--------+-----+--------+------+-----+-------+
only showing top 10 rows

In [20]:
newDataframe = df.select(df['City'],df['Total'])
newDataframe.show(10)
newDataframe.printSchema()

+--------+-----+
|    City|Total|
+--------+-----+
|  Indore|   20|
|Banglore|  100|
|  Indore|  180|
|Banglore|  260|
|  Indore|  340|
|Banglore|  420|
|  Indore|  500|
|Banglore|  580|
|  Indore|  660|
|Banglore|  740|
+--------+-----+
only showing top 10 rows

root
 |-- City: string (nullable = true)
 |-- Total: string (nullable = true)

In [21]:
df.select(df['City'],df['Total']+10).show(10)

+--------+------------+
|    City|(Total + 10)|
+--------+------------+
|  Indore|        30.0|
|Banglore|       110.0|
|  Indore|       190.0|
|Banglore|       270.0|
|  Indore|       350.0|
|Banglore|       430.0|
|  Indore|       510.0|
|Banglore|       590.0|
|  Indore|       670.0|
|Banglore|       750.0|
+--------+------------+
only showing top 10 rows

In [22]:
df.filter(df['Total']>1000).show(10)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012|22:00|Banglore|Fruits| 1060|   Amex|
|1/1/2012|23:00|  Indore|  Milk| 1140|   Visa|
|1/1/2012| 0:00|Banglore|Fruits| 1220|   Amex|
|1/1/2012| 1:00|  Indore|  Milk| 1300|   Visa|
|1/1/2012| 2:00|Banglore|Fruits| 1380|   Amex|
|1/1/2012| 3:00|  Indore|  Milk| 1460|   Visa|
|1/1/2012| 4:00|Banglore|Fruits| 1540|   Amex|
|1/1/2012| 5:00|  Indore|  Milk| 1620|   Visa|
|1/1/2012| 6:00|Banglore|Fruits| 1700|   Amex|
|1/1/2012| 7:00|  Indore|  Milk| 1780|   Visa|
+--------+-----+--------+------+-----+-------+
only showing top 10 rows

In [23]:
sortedByCity =df.orderBy('City').show(10)

+--------+-----+--------+------+-----+-------+
|    Date| Time|    City|  Item|Total|Payment|
+--------+-----+--------+------+-----+-------+
|1/1/2012|20:00|Banglore|Fruits|  900|   Amex|
|1/1/2012|16:00|Banglore|Fruits| 2500|   Amex|
|1/1/2012|22:00|Banglore|Fruits| 1060|   Amex|
|1/1/2012|10:00|Banglore|Fruits|  100|   Amex|
|1/1/2012| 0:00|Banglore|Fruits| 1220|   Amex|
|1/1/2012|12:00|Banglore|Fruits|  260|   Amex|
|1/1/2012| 2:00|Banglore|Fruits| 1380|   Amex|
|1/1/2012|14:00|Banglore|Fruits|  420|   Amex|
|1/1/2012| 4:00|Banglore|Fruits| 1540|   Amex|
|1/1/2012|16:00|Banglore|Fruits|  580|   Amex|
+--------+-----+--------+------+-----+-------+
only showing top 10 rows

In [24]:
numCity = df.groupBy("City").count()
numCity.show()

+--------+-----+
|    City|count|
+--------+-----+
|Banglore| 2582|
|  Indore| 2582|
+--------+-----+

In [25]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
purchaseSchema =StructType([
    StructField("Date",DateType(),True),
    StructField("Time",StringType(),True),
    StructField("City",StringType(),True),
    StructField("Item",StringType(),True),
    StructField("Total",FloatType(),True),
    StructField("Payment", StringType(),True)
])

df = sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=purchaseSchema).load('purchases.csv')

In [26]:
df.show(10)

+---------------------------------+
|Date	Time	City	Item	Total	Payment|
+---------------------------------+
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
+---------------------------------+
only showing top 10 rows

In [27]:
df.show (3)

+---------------------------------+
|Date	Time	City	Item	Total	Payment|
+---------------------------------+
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
|             2012-01-01	09:00	...|
+---------------------------------+
only showing top 3 rows

In [28]:
from pyspark.sql.functions import monotonically_increasing_id
newPurchaseDataframe=df.withColumn("index", monotonically_increasing_id())
newPurchaseDataframe.show(7)
row2Till4=newPurchaseDataframe.filter((newPurchaseDataframe['index']>=2)&(newPurchaseDataframe['index']<=4))
row2Till4.show()

+---------------------------------+-----+
|Date	Time	City	Item	Total	Payment|index|
+---------------------------------+-----+
|             2012-01-01	09:00	...|    0|
|             2012-01-01	09:00	...|    1|
|             2012-01-01	09:00	...|    2|
|             2012-01-01	09:00	...|    3|
|             2012-01-01	09:00	...|    4|
|             2012-01-01	09:00	...|    5|
|             2012-01-01	09:00	...|    6|
+---------------------------------+-----+
only showing top 7 rows

+---------------------------------+-----+
|Date	Time	City	Item	Total	Payment|index|
+---------------------------------+-----+
|             2012-01-01	09:00	...|    2|
|             2012-01-01	09:00	...|    3|
|             2012-01-01	09:00	...|    4|
+---------------------------------+-----+

In [29]:
df.createOrReplaceTempView("purchaseSql")
anotherNewDataframe=spark.sql("SELECT Total, Payment FROM purchaseSql")
anotherNewDataframe.show(3)

AnalysisException: "cannot resolve '`Total`' given input columns: [purchasesql.Date\tTime\tCity\tItem\tTotal\tPayment]; line 1 pos 7;\n'Project ['Total, 'Payment]\n+- SubqueryAlias purchasesql\n   +- Relation[Date\tTime\tCity\tItem\tTotal\tPayment#732] csv\n"

In [30]:
orderByCity=spark.sql("SELECT * FROM purchaseSql ORDER BY City")
orderByCity.show(5)

AnalysisException: "cannot resolve '`City`' given input columns: [purchasesql.Date\tTime\tCity\tItem\tTotal\tPayment]; line 1 pos 35;\n'Sort ['City ASC NULLS FIRST], true\n+- Project [Date\tTime\tCity\tItem\tTotal\tPayment#732]\n   +- SubqueryAlias purchasesql\n      +- Relation[Date\tTime\tCity\tItem\tTotal\tPayment#732] csv\n"

In [31]:
filterandSortSQL=spark.sql("SELECT * FROM purchaseSql WHERE Total>200 ORDER BY Payment")
filterandSortSQL.show(5)

AnalysisException: "cannot resolve '`Total`' given input columns: [purchasesql.Date\tTime\tCity\tItem\tTotal\tPayment]; line 1 pos 32;\n'Sort ['Payment ASC NULLS FIRST], true\n+- 'Project [*]\n   +- 'Filter ('Total > 200)\n      +- SubqueryAlias purchasesql\n         +- Relation[Date\tTime\tCity\tItem\tTotal\tPayment#732] csv\n"

In [ ]:
 from pyspark.sql.types import *
appname="data preprocessing in Spark"
spark= SparkSession\
    .builder\
    .appName(appname)\
    .config("spark.some.config.option","some-value")\
    .getOrCreate()
flightSchema=StructType([
    StructField("DayofMonth", IntegerType(),True),
    StructField("DayOfWeek",IntegerType(),True),
    StructField("Carrier",StringType(),True),
    StructField("OriginAirportID",IntegerType(),True),
    StructField("DestAirportID",IntegerType(),True),
    StructField("DepDelay", IntegerType(), True),
    StructField("ArrDelay",IntegerType(),True)
])
flights= sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=flightSchema).load('raw-flight-data.csv')
flights.show(2)

In [ ]:
airportSchema=StructType([
    StructField("airport_id",IntegerType(),False),
    StructField("city",StringType(),False),
    StructField("state",StringType(),False),
    StructField("name",StringType(),False)
])
airports=sqlContext.read.format('com.databricks.spark.csv').options(header=True, schema=airportSchema).load('airports.csv')
airports.show(2)

In [ ]:
flightsByOrigin=flights.join(airports,flights.OriginAirportID==airports.airport_id).groupBy("city").count()
flightsByOrigin.show(3)

In [ ]:
n1=flights.count()
print("number of orignal data rows", n1)
n2=flights.dropDuplicates().count()
print("number of data rows after deletion", n2)
n3=n1-n2
print("number of rows deleted",n3)

In [32]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.regression import LinearRegression
from pyspark.ml.feature import VectorAssembler

In [33]:
appName="Regression in Spark"
spark=SparkSession \
    .builder \
    .appName(appName) \
    .config("spark.some.config.option","some-value") \
    .getOrCreate()
flightSchema=StructType([
    StructField("DayofMonth", IntegerType(),True),
    StructField("DayOfWeek",IntegerType(),True),
    StructField("Carrier",StringType(),True),
    StructField("OriginAirportID",IntegerType(),True),
    StructField("DestAirportID",IntegerType(),True),
    StructField("DepDelay", IntegerType(), True),
    StructField("ArrDelay",IntegerType(),True)
])
flights= spark.read.csv('flights.csv',schema=flightSchema,header=True)
flights.show(3)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 3 rows

In [34]:
data=flights.select("DayofMonth","DayofWeek","OriginAirportID","DestAirportID","DepDelay","ArrDelay")
data.show(3)

+----------+---------+---------------+-------------+--------+--------+
|DayofMonth|DayofWeek|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+---------------+-------------+--------+--------+
|        19|        5|          11433|        13303|      -3|       1|
|        19|        5|          14869|        12478|       0|      -8|
|        19|        5|          14057|        14869|      -4|     -15|
+----------+---------+---------------+-------------+--------+--------+
only showing top 3 rows

In [35]:
dividedData=data.randomSplit([0.7,0.3])
trainingData=dividedData[0]
testingData=dividedData[1]
train_rows=trainingData.count()
test_rows=testingData.count()
print("Training data rows:",train_rows,";Testing data rows:",test_rows)

Training data rows: 1892523 ;Testing data rows: 809695

In [36]:
assembler=VectorAssembler(inputCols=["DayofMonth","DayofWeek","OriginAirportID","DestAirportID","DepDelay"],outputCol="features")
trainingDataFinal=assembler.transform(trainingData).select(col("features"),(col("ArrDelay").cast("Int").alias("label")))
trainingDataFinal.show(truncate=False, n=3)

+------------------------------+-----+
|features                      |label|
+------------------------------+-----+
|[1.0,1.0,10140.0,10397.0,-2.0]|-17  |
|[1.0,1.0,10140.0,10821.0,8.0] |-9   |
|[1.0,1.0,10140.0,11259.0,-2.0]|-14  |
+------------------------------+-----+
only showing top 3 rows

In [37]:
algorithm=LinearRegression(labelCol="label",featuresCol="features",maxIter=10,regParam=0.3)
model=algorithm.fit(trainingDataFinal)
print("Regression Model trained")

Regression Model trained

In [38]:
testingDataFinal=assembler.transform(testingData).select(col("features"),(col("ArrDelay")).cast("Int").alias("trueLabel"))
testingDataFinal.show(truncate=False,n=2)

+------------------------------+---------+
|features                      |trueLabel|
+------------------------------+---------+
|[1.0,1.0,10140.0,10397.0,-4.0]|-11      |
|[1.0,1.0,10140.0,11259.0,-3.0]|-11      |
+------------------------------+---------+
only showing top 2 rows

In [39]:
prediction=model.transform(testingDataFinal)
prediction.show(10)

+--------------------+---------+-------------------+
|            features|trueLabel|         prediction|
+--------------------+---------+-------------------+
|[1.0,1.0,10140.0,...|      -11| -7.567268216025724|
|[1.0,1.0,10140.0,...|      -11|  -6.76411741274002|
|[1.0,1.0,10140.0,...|      -11|  -4.76935865656568|
|[1.0,1.0,10140.0,...|      -12|-3.7719792784785096|
|[1.0,1.0,10140.0,...|       -8| -7.768932455523765|
|[1.0,1.0,10140.0,...|       -6| -4.776794321262255|
|[1.0,1.0,10140.0,...|      -13|-13.754560663082527|
|[1.0,1.0,10140.0,...|       -9| -4.778146260297996|
|[1.0,1.0,10140.0,...|       68|  82.99123901137297|
|[1.0,1.0,10140.0,...|       13|   11.9760895740311|
+--------------------+---------+-------------------+
only showing top 10 rows

In [40]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator=RegressionEvaluator(labelCol="trueLabel",predictionCol="prediction",metricName="rmse")
rmse=evaluator.evaluate(prediction)
print("Root Mean Square: ",rmse)

Root Mean Square:  13.24648187612213

In [41]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.regression import LinearRegression
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import VectorAssembler
appName="Classification in Spark"
spark=SparkSession \
    .builder \
    .appName(appName) \
    .config("spark.some.config.option","some-value") \
    .getOrCreate()
flightSchema=StructType([
    StructField("DayofMonth", IntegerType(),True),
    StructField("DayOfWeek",IntegerType(),True),
    StructField("Carrier",StringType(),True),
    StructField("OriginAirportID",IntegerType(),True),
    StructField("DestAirportID",IntegerType(),True),
    StructField("DepDelay", IntegerType(), True),
    StructField("ArrDelay",IntegerType(),True)
])
csv= spark.read.csv('flights.csv',schema=flightSchema,header=True)
csv.show(3)

+----------+---------+-------+---------------+-------------+--------+--------+
|DayofMonth|DayOfWeek|Carrier|OriginAirportID|DestAirportID|DepDelay|ArrDelay|
+----------+---------+-------+---------------+-------------+--------+--------+
|        19|        5|     DL|          11433|        13303|      -3|       1|
|        19|        5|     DL|          14869|        12478|       0|      -8|
|        19|        5|     DL|          14057|        14869|      -4|     -15|
+----------+---------+-------+---------------+-------------+--------+--------+
only showing top 3 rows

In [42]:
data = csv.select("DayOfMonth","DayOfWeek","OriginAirportID","DestAirportID","DepDelay",((col("ArrDelay")>15).cast("Int").alias("Late")))
data.show(3)

+----------+---------+---------------+-------------+--------+----+
|DayOfMonth|DayOfWeek|OriginAirportID|DestAirportID|DepDelay|Late|
+----------+---------+---------------+-------------+--------+----+
|        19|        5|          11433|        13303|      -3|   0|
|        19|        5|          14869|        12478|       0|   0|
|        19|        5|          14057|        14869|      -4|   0|
+----------+---------+---------------+-------------+--------+----+
only showing top 3 rows

In [43]:
dividedData=data.randomSplit([0.7,0.3])
trainingData=dividedData[0]
testingData=dividedData[1]
train_rows=trainingData.count()
test_rows=testingData.count()
print("Training data rows:",train_rows,";Testing data rows:",test_rows)

Training data rows: 1890527 ;Testing data rows: 811691

In [44]:
assembler=VectorAssembler(inputCols=["DayOfMonth","DayOfWeek","OriginAirportID","DestAirportID","DepDelay"],outputCol="features")
trainingDataFinal=assembler.transform(trainingData).select(col("features"),col("Late").alias("label"))
trainingDataFinal.show(truncate=False,n=2)

+------------------------------+-----+
|features                      |label|
+------------------------------+-----+
|[1.0,1.0,10140.0,10397.0,-2.0]|0    |
|[1.0,1.0,10140.0,10821.0,8.0] |0    |
+------------------------------+-----+
only showing top 2 rows

In [45]:
classifier=LogisticRegression(labelCol="label",featuresCol="features",maxIter=10,regParam=0.3)
model = classifier.fit(trainingDataFinal)
print("Classifier model is trained")

Classifier model is trained

In [46]:
testingDataFinal=assembler.transform(testingData).select(col("features"),col("Late").alias("trueLabel"))
testingDataFinal.show(3)

+--------------------+---------+
|            features|trueLabel|
+--------------------+---------+
|[1.0,1.0,10140.0,...|        0|
|[1.0,1.0,10140.0,...|        0|
|[1.0,1.0,10140.0,...|        0|
+--------------------+---------+
only showing top 3 rows

In [47]:
prediction=model.transform(testingDataFinal)
predictionFinal=prediction.select("features","prediction","probability","trueLabel")
predictionFinal.show(truncate=False, n=3)
prediction.show(truncate=False, n=3)

+------------------------------+----------+----------------------------------------+---------+
|features                      |prediction|probability                             |trueLabel|
+------------------------------+----------+----------------------------------------+---------+
|[1.0,1.0,10140.0,10397.0,-4.0]|0.0       |[0.8311925160292101,0.16880748397079004]|0        |
|[1.0,1.0,10140.0,11259.0,-1.0]|0.0       |[0.8256156254495102,0.17438437455048977]|0        |
|[1.0,1.0,10140.0,11259.0,0.0] |0.0       |[0.8235962506286986,0.1764037493713014] |0        |
+------------------------------+----------+----------------------------------------+---------+
only showing top 3 rows

+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
|features                      |trueLabel|rawPrediction                           |probability                             |prediction|
+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
|[1.0,1.0,10140.0,10397.0,-4.0]|0        |[1.594102518430892,-1.594102518430892]  |[0.8311925160292101,0.16880748397079004]|0.0       |
|[1.0,1.0,10140.0,11259.0,-1.0]|0        |[1.5548674087289198,-1.5548674087289198]|[0.8256156254495102,0.17438437455048977]|0.0       |
|[1.0,1.0,10140.0,11259.0,0.0] |0        |[1.5409050244393123,-1.5409050244393123]|[0.8235962506286986,0.1764037493713014] |0.0       |
+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
only showing top 3 rows

In [48]:
correctPrediction=predictionFinal.filter(predictionFinal['prediction']==predictionFinal['trueLabel']).count()
totalData=predictionFinal.count()
print("correct prediction:", correctPrediction,",total data:", totalData,",accuracy:",correctPrediction/totalData)

correct prediction: 669215 ,total data: 811691 ,accuracy: 0.8244701493548653

In [49]:
from pyspark.ml.classification import RandomForestClassifier
model2= RandomForestClassifier(numTrees=3, maxDepth=5, seed=42, labelCol="label",featuresCol="features")
model2=model2.fit(trainingDataFinal)
print("model is trainied")

model is trainied

In [50]:
prediction=model2.transform(testingDataFinal)
predictionFinal=prediction.select("features","prediction","probability","trueLabel")
predictionFinal.show(truncate=False, n=3)
prediction.show(truncate=False, n=3)

+------------------------------+----------+----------------------------------------+---------+
|features                      |prediction|probability                             |trueLabel|
+------------------------------+----------+----------------------------------------+---------+
|[1.0,1.0,10140.0,10397.0,-4.0]|0.0       |[0.9519669276250302,0.04803307237496979]|0        |
|[1.0,1.0,10140.0,11259.0,-1.0]|0.0       |[0.9453619724639896,0.05463802753601036]|0        |
|[1.0,1.0,10140.0,11259.0,0.0] |0.0       |[0.9453619724639896,0.05463802753601036]|0        |
+------------------------------+----------+----------------------------------------+---------+
only showing top 3 rows

+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
|features                      |trueLabel|rawPrediction                           |probability                             |prediction|
+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
|[1.0,1.0,10140.0,10397.0,-4.0]|0        |[2.8559007828750906,0.14409921712490936]|[0.9519669276250302,0.04803307237496979]|0.0       |
|[1.0,1.0,10140.0,11259.0,-1.0]|0        |[2.836085917391969,0.1639140826080311]  |[0.9453619724639896,0.05463802753601036]|0.0       |
|[1.0,1.0,10140.0,11259.0,0.0] |0        |[2.836085917391969,0.1639140826080311]  |[0.9453619724639896,0.05463802753601036]|0.0       |
+------------------------------+---------+----------------------------------------+----------------------------------------+----------+
only showing top 3 rows

In [51]:
correctPrediction=predictionFinal.filter(predictionFinal['prediction']==predictionFinal['trueLabel']).count()
totalData=predictionFinal.count()
print("correct prediction:", correctPrediction,",total data:", totalData,",accuracy:",correctPrediction/totalData)

correct prediction: 751978 ,total data: 811691 ,accuracy: 0.9264338276511628

In [52]:
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.feature import HashingTF,Tokenizer, StopWordsRemover
appName="Sentiment Analysis in Spark"
spark=SparkSession \
    .builder \
    .appName(appName) \
    .config("spark.some.config.option","some-value") \
    .getOrCreate()

In [53]:
tweets_csv=spark.read.csv('tweets.csv',inferSchema=True,header=True)
tweets_csv.show(truncate=False,n=3)

+------+---------+---------------+---------------------------------+
|ItemID|Sentiment|SentimentSource|SentimentText                    |
+------+---------+---------------+---------------------------------+
|1038  |1        |Sentiment140   |that film is fantastic #brilliant|
|1804  |1        |Sentiment140   |this music is really bad #myband |
|1693  |0        |Sentiment140   |winter is terrible #thumbs-down  |
+------+---------+---------------+---------------------------------+
only showing top 3 rows

In [54]:
data=tweets_csv.select("SentimentText",col("Sentiment").cast("Int").alias("label"))
data.show(truncate=False,n=5)

+---------------------------------+-----+
|SentimentText                    |label|
+---------------------------------+-----+
|that film is fantastic #brilliant|1    |
|this music is really bad #myband |1    |
|winter is terrible #thumbs-down  |0    |
|this game is awful #nightmare    |0    |
|I love jam #loveit               |1    |
+---------------------------------+-----+
only showing top 5 rows

In [55]:
dividedData=data.randomSplit([0.7,0.3])
trainingData = dividedData[0]
testingData = dividedData[1]
train_rows=trainingData.count()
test_rows=testingData.count()
print("Training data rows:", train_rows,"; Testing Data Rows: ",test_rows)

Training data rows: 1340 ; Testing Data Rows:  592

In [56]:
tokenizer=Tokenizer(inputCol="SentimentText",outputCol="SentimentWords")
tokenizedTrain=tokenizer.transform(trainingData)
tokenizedTrain.show(truncate=False,n=5)

+---------------------------------+-----+---------------------------------------+
|SentimentText                    |label|SentimentWords                         |
+---------------------------------+-----+---------------------------------------+
|I adore cheese #brilliant        |1    |[i, adore, cheese, #brilliant]         |
|I adore cheese #favorite         |1    |[i, adore, cheese, #favorite]          |
|I adore cheese #thumbs-up        |1    |[i, adore, cheese, #thumbs-up]         |
|I adore cheese #toptastic        |1    |[i, adore, cheese, #toptastic]         |
|I adore classical music #bestever|1    |[i, adore, classical, music, #bestever]|
+---------------------------------+-----+---------------------------------------+
only showing top 5 rows

In [57]:
swr=StopWordsRemover(inputCol=tokenizer.getOutputCol(),outputCol="MeaningfullWords")
SwRemovedTrain = swr.transform(tokenizedTrain)
SwRemovedTrain.show(truncate=False,n=5)

+---------------------------------+-----+---------------------------------------+------------------------------------+
|SentimentText                    |label|SentimentWords                         |MeaningfullWords                    |
+---------------------------------+-----+---------------------------------------+------------------------------------+
|I adore cheese #brilliant        |1    |[i, adore, cheese, #brilliant]         |[adore, cheese, #brilliant]         |
|I adore cheese #favorite         |1    |[i, adore, cheese, #favorite]          |[adore, cheese, #favorite]          |
|I adore cheese #thumbs-up        |1    |[i, adore, cheese, #thumbs-up]         |[adore, cheese, #thumbs-up]         |
|I adore cheese #toptastic        |1    |[i, adore, cheese, #toptastic]         |[adore, cheese, #toptastic]         |
|I adore classical music #bestever|1    |[i, adore, classical, music, #bestever]|[adore, classical, music, #bestever]|
+---------------------------------+-----+---------------------------------------+------------------------------------+
only showing top 5 rows

In [58]:
hashTF=HashingTF(inputCol=swr.getOutputCol(),outputCol="features")
numericTrainData=hashTF.transform(SwRemovedTrain).select('label','MeaningfullWords','features')
numericTrainData.show(truncate=False,n=5)

+-----+------------------------------------+------------------------------------------------------+
|label|MeaningfullWords                    |features                                              |
+-----+------------------------------------+------------------------------------------------------+
|1    |[adore, cheese, #brilliant]         |(262144,[61111,65702,69876],[1.0,1.0,1.0])            |
|1    |[adore, cheese, #favorite]          |(262144,[65702,69876,156543],[1.0,1.0,1.0])           |
|1    |[adore, cheese, #thumbs-up]         |(262144,[3984,65702,69876],[1.0,1.0,1.0])             |
|1    |[adore, cheese, #toptastic]         |(262144,[65702,69876,82232],[1.0,1.0,1.0])            |
|1    |[adore, classical, music, #bestever]|(262144,[63443,69876,108823,144106],[1.0,1.0,1.0,1.0])|
+-----+------------------------------------+------------------------------------------------------+
only showing top 5 rows

In [59]:
lr = LogisticRegression(labelCol="label",featuresCol="features",maxIter=10,regParam=0.01)
model=lr.fit(numericTrainData)
print("Training is done")

Training is done

In [60]:
tokenizedTest=tokenizer.transform(testingData)
SwRemovedTest=swr.transform(tokenizedTest)
numericTest = hashTF.transform(SwRemovedTest).select('label','MeaningfullWords','features')
numericTest.show(truncate=False, n=2)

+-----+--------------------------+-------------------------------------------+
|label|MeaningfullWords          |features                                   |
+-----+--------------------------+-------------------------------------------+
|1    |[adore, cheese, #bestever]|(262144,[65702,69876,108823],[1.0,1.0,1.0])|
|1    |[adore, cheese, #loveit]  |(262144,[65702,65728,69876],[1.0,1.0,1.0]) |
+-----+--------------------------+-------------------------------------------+
only showing top 2 rows

In [61]:
prediction=model.transform(numericTest)
predictionFinal=prediction.select("MeaningfullWords","prediction","Label")
predictionFinal.show(n=4,truncate=False)
correctPrediction=predictionFinal.filter(predictionFinal['prediction']==predictionFinal['Label']).count()
totalData=predictionFinal.count()
print("correct prediction:",correctPrediction,",total data:",totalData,",accuracy:", correctPrediction/totalData)

+-------------------------------------+----------+-----+
|MeaningfullWords                     |prediction|Label|
+-------------------------------------+----------+-----+
|[adore, cheese, #bestever]           |1.0       |1    |
|[adore, cheese, #loveit]             |1.0       |1    |
|[adore, classical, music, #brilliant]|1.0       |1    |
|[adore, classical, music, #thumbs-up]|1.0       |1    |
+-------------------------------------+----------+-----+
only showing top 4 rows

correct prediction: 578 ,total data: 592 ,accuracy: 0.9763513513513513

In [62]:
from pyspark.ml.clustering import KMeans
from pyspark.ml.feature import VectorAssembler
appName="Clustering in Spark"
spark= SparkSession\
    .builder \
    .appName(appName) \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [63]:
customers =spark.read.csv('customers.csv',inferSchema=True,header=True)
customers.show(5)

+---------------+---+-------------+-----------+------+-------------+--------------+---------+----------+---------+----+
|   CustomerName|Age|MaritalStatus|IncomeRange|Gender|TotalChildren|ChildrenAtHome|Education|Occupation|HomeOwner|Cars|
+---------------+---+-------------+-----------+------+-------------+--------------+---------+----------+---------+----+
|    Aaron Adams| 42|            0|      50000|     0|            0|             0|        3|         2|        1|   1|
|Aaron Alexander| 40|            1|      50000|     0|            0|             0|        2|         2|        1|   2|
|    Aaron Allen| 63|            0|      25000|     0|            2|             1|        2|         1|        1|   2|
|    Aaron Baker| 56|            1|      50000|     0|            4|             2|        2|         2|        1|   2|
|   Aaron Bryant| 72|            0|      75000|     0|            4|             0|        4|         4|        1|   2|
+---------------+---+-------------+-----------+------+-------------+--------------+---------+----------+---------+----+
only showing top 5 rows

In [64]:
assembler=VectorAssembler(inputCols=["Age","MaritalStatus","IncomeRange","Gender","TotalChildren","ChildrenAtHome","Education","Occupation","HomeOwner","Cars"],outputCol="features")
data=assembler.transform(customers).select('CustomerName','features')
data.show(truncate=False, n=3)

+---------------+----------------------------------------------+
|CustomerName   |features                                      |
+---------------+----------------------------------------------+
|Aaron Adams    |[42.0,0.0,50000.0,0.0,0.0,0.0,3.0,2.0,1.0,1.0]|
|Aaron Alexander|[40.0,1.0,50000.0,0.0,0.0,0.0,2.0,2.0,1.0,2.0]|
|Aaron Allen    |[63.0,0.0,25000.0,0.0,2.0,1.0,2.0,1.0,1.0,2.0]|
+---------------+----------------------------------------------+
only showing top 3 rows

In [65]:
kmeans=KMeans(featuresCol=assembler.getOutputCol(),predictionCol="cluster",k=5)
model=kmeans.fit(data)
print("Model is successfully trained")

Model is successfully trained

In [66]:
centers=model.clusterCenters()
print("Cluster Centers: ")
for center in centers:
    print(center)

Cluster Centers:
[5.60711289e+01 5.83804487e-01 7.50000000e+04 5.03921211e-01
 2.17308043e+00 8.16706183e-01 3.73244574e+00 3.92759438e+00
 7.23326646e-01 1.38063104e+00]
[5.31013005e+01 4.17180014e-01 2.50000000e+04 4.80492813e-01
 1.41512663e+00 6.08487337e-01 2.31622177e+00 1.45448323e+00
 5.93086927e-01 1.11464750e+00]
[5.53417813e+01 5.72411296e-01 1.00000000e+05 4.97103548e-01
 2.54380883e+00 1.54272266e+00 3.46198407e+00 4.19116582e+00
 7.16509776e-01 1.94532947e+00]
[5.82794840e+01 6.22850123e-01 1.50000000e+05 4.79729730e-01
 2.07248157e+00 3.20638821e+00 3.41461916e+00 4.34705160e+00
 6.48648649e-01 3.10995086e+00]
[5.19737441e+01 5.26868545e-01 5.00000000e+04 4.93961141e-01
 1.34552774e+00 4.98337126e-01 3.23035183e+00 2.77927534e+00
 6.62699107e-01 1.14615789e+00]

In [67]:
prediction=model.transform(data)
prediction.groupBy("cluster").count().orderBy("cluster").show()
prediction.select('CustomerName','cluster').show(5)

+-------+-----+
|cluster|count|
+-------+-----+
|      0| 5483|
|      1| 2922|
|      2| 2762|
|      3| 1628|
|      4| 5713|
+-------+-----+

+---------------+-------+
|   CustomerName|cluster|
+---------------+-------+
|    Aaron Adams|      4|
|Aaron Alexander|      4|
|    Aaron Allen|      1|
|    Aaron Baker|      4|
|   Aaron Bryant|      0|
+---------------+-------+
only showing top 5 rows

In [68]:
from pyspark.ml.recommendation import ALS
appName= "Recommender Syatem in Spark"
spark=SparkSession \
    .builder \
    .appName(appName) \
    .config("saprk.some.config.option","some-value") \
    .getOrCreate()

In [69]:
ratings=spark.read.csv('ratings.csv',inferSchema=True,header=True)
movies =spark.read.csv('movies.csv',inferSchema=True,header=True)
ratings.join(movies,"movieId").show(10)

+-------+------+------+----------+--------------------+--------------------+
|movieId|userId|rating| timestamp|               title|              genres|
+-------+------+------+----------+--------------------+--------------------+
|     31|     1|   2.5|1260759144|Dangerous Minds (...|               Drama|
|   1029|     1|   3.0|1260759179|        Dumbo (1941)|Animation|Childre...|
|   1061|     1|   3.0|1260759182|     Sleepers (1996)|            Thriller|
|   1129|     1|   2.0|1260759185|Escape from New Y...|Action|Adventure|...|
|   1172|     1|   4.0|1260759205|Cinema Paradiso (...|               Drama|
|   1263|     1|   2.0|1260759151|Deer Hunter, The ...|           Drama|War|
|   1287|     1|   2.0|1260759187|      Ben-Hur (1959)|Action|Adventure|...|
|   1293|     1|   2.0|1260759148|       Gandhi (1982)|               Drama|
|   1339|     1|   3.5|1260759125|Dracula (Bram Sto...|Fantasy|Horror|Ro...|
|   1343|     1|   2.0|1260759131|    Cape Fear (1991)|            Thriller|
+-------+------+------+----------+--------------------+--------------------+
only showing top 10 rows

In [70]:
data=ratings.select("userId","movieId","rating")
splits = data.randomSplit([0.7,0.3])
train=splits[0].withColumnRenamed("rating","label")
test=splits[1].withColumnRenamed("rating","trueLabel")
train_rows=train.count()
test_rows=test.count()
print ("number of training data rows:", train_rows,",number of testing data rows:",test_rows)

number of training data rows: 70015 ,number of testing data rows: 29989

In [71]:
als=ALS(maxIter=19,regParam=0.01,userCol="userId",itemCol="movieId",ratingCol="label")
model=als.fit(train)
print("Training is Done")

Training is Done

In [72]:
prediction =model.transform(test)
prediction.join(movies,"movieId").select("userId","title","prediction","trueLabel").show(n=10,truncate=False)

+------+---------------------------+----------+---------+
|userId|title                      |prediction|trueLabel|
+------+---------------------------+----------+---------+
|232   |Guilty as Sin (1993)       |4.400036  |4.0      |
|242   |Guilty as Sin (1993)       |3.6995497 |4.0      |
|311   |Guilty as Sin (1993)       |3.1570003 |3.0      |
|126   |Hudsucker Proxy, The (1994)|4.0645285 |5.0      |
|460   |Hudsucker Proxy, The (1994)|4.338686  |5.0      |
|86    |Hudsucker Proxy, The (1994)|4.228522  |4.0      |
|491   |Hudsucker Proxy, The (1994)|4.5939355 |3.0      |
|92    |Hudsucker Proxy, The (1994)|4.9593315 |4.0      |
|299   |Hudsucker Proxy, The (1994)|4.372009  |4.5      |
|309   |Hudsucker Proxy, The (1994)|4.538096  |4.0      |
+------+---------------------------+----------+---------+
only showing top 10 rows

In [73]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator=RegressionEvaluator(labelCol="trueLabel",predictionCol="prediction",metricName="rmse")
rmse=evaluator.evaluate(prediction)
print("Root Mean Square Error(RMSE):",rmse)

Root Mean Square Error(RMSE): nan

In [74]:
prediction.count()
a=prediction.count()
print("number of orignal data rows: ",a)
cleanPred = prediction.dropna(how="any", subset=['prediction'])
b=cleanPred.count()
print("number of rows after droping missing data: ",b)
print("Number of Rows dropped: ",a-b)

number of orignal data rows:  29989
number of rows after droping missing data:  28733
Number of Rows dropped:  1256

In [75]:
from pyspark.ml.evaluation import RegressionEvaluator
evaluator=RegressionEvaluator(labelCol="trueLabel",predictionCol="prediction",metricName="rmse")
rmse=evaluator.evaluate(cleanPred)
print("Root Mean Square Error(RMSE):",rmse)

Root Mean Square Error(RMSE): 1.2427419959597237

In [76]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import explode
from pyspark.sql.functions import split

spark = SparkSession \
    .builder \
    .appName("StructuredNetworkWordCount") \
    .getOrCreate()

In [77]:
lines = spark \
    .readStream \
    .format("socket") \
    .option("host", "localhost") \
    .option("port", 9999) \
    .load()

# Split the lines into words
words = lines.select(
   explode(
       split(lines.value, " ")
   ).alias("word")
)

# Generate running word count
wordCounts = words.groupBy("word").count()

In [18]:
from random import randint
import time

"""
This is use for create 30 file one by one in each 5 seconds interval. 
These files will store content dynamically from 'lorem.txt' using below code
"""


def main():
    a = 1
    with open('lorem.txt', 'r') as file:  # reading content from 'lorem.txt' file
        lines = file.readlines()
        while a <= 30:
            totalline = len(lines)
            linenumber = randint(0, totalline - 10)
            with open('log\log{}.txt'.format(a), 'w') as writefile:
                writefile.write(' '.join(line for line in lines[linenumber:totalline]))
            print('creating file log{}.txt'.format(a))
            a += 1
            time.sleep(5)


if __name__ == '__main__':
    main()

creating file log1.txt
creating file log2.txt
creating file log3.txt
creating file log4.txt
creating file log5.txt
creating file log6.txt
creating file log7.txt

KeyboardInterrupt:

In [1]:
import sys
from pyspark import SparkContext
from pyspark.streaming import StreamingContext

"""
This is use for create streaming of text from txt files that creating dynamically 
from files.py code. This spark streaming will execute in each 3 seconds and It'll
show number of words count from each files dynamically
"""


def main():
    ssc = StreamingContext(sc, 3)   #Streaming will execute in each 3 seconds
    lines = ssc.textFileStream('log/')  #'log/ mean directory name
    counts = lines.flatMap(lambda line: line.split(" ")) \
        .map(lambda x: (x, 1)) \
        .reduceByKey(lambda a, b: a + b)
    counts.pprint()
    ssc.start()


if __name__ == "__main__":
    main()

-------------------------------------------
Time: 2019-02-07 16:28:09
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:28:12
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:28:15
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:28:18
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:28:21
-------------------------------------------

In [1]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext
sc.stop()
# Create a local StreamingContext with two working thread and batch interval of 1 second
sc = SparkContext("local[2]", "NetworkWordCount")
ssc = StreamingContext(sc, 1)

In [2]:
lines = ssc.socketTextStream("localhost", 9999)

In [3]:
words = lines.flatMap(lambda line: line.split(" "))

In [4]:
pairs = words.map(lambda word: (word, 1))
wordCounts = pairs.reduceByKey(lambda x, y: x + y)

# Print the first ten elements of each RDD generated in this DStream to the console
wordCounts.pprint()

In [ ]:
ssc.start()             # Start the computation
ssc.awaitTermination()  # Wait for the computation to terminate

-------------------------------------------
Time: 2019-02-07 16:25:40
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:41
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:42
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:43
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:44
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:45
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:46
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:47
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:48
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:49
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:50
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:51
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:52
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:53
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:54
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:55
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:56
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:57
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:58
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:25:59
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:00
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:01
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:02
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:03
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:04
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:05
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:06
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:07
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:08
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:09
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:10
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:11
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:12
-------------------------------------------

-------------------------------------------
Time: 2019-02-07 16:26:13
-------------------------------------------